body{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

#calculatorContainer{
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c6d2ed;
    box-shadow: 0 0 10px #6f7686;
}

.container{
    display: flex;
    justify-content: space-between;
}

#displayContainer{
    height: 70px;
    background-color: lightgray;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    font-size: 36px;
    flex-wrap: wrap;
}

#displayContainer, button{
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    font-size: 24px;
}

#clearAndDeleteContainer{
    height: 70px;
    gap: 10px;
}

#rowOneContainer,
#rowTwoContainer,
#rowThreeContainer,
#rowFourContainer
{
    height: 70px;
    gap: 10px;
}

#clearButton,
#deleteButton
{
    width: 186.5px;
}

.smallButton{
    width: 90px;
}

.smallButton, #displayContainer{
    background-color: #efefef; 
}

.operatorButton, 
#clearButton, 
#deleteButton
{
    background-color: #e3d0d8;
}

button:hover{
    background-color: #d8d6d6;
}

#deleteButton:hover, 
#clearButton:hover, 
.operatorButton:hover
{
    background-color: #d8c4cc;
}

button:active{
    background-color: #bdbaba; 
}

#deleteButton:active, 
#clearButton:active, 
.operatorButton:active
{
    background-color: #c2adb6;
}

#footer{
    display: flex;
    justify-content: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}